/* MENU HERO */
.menu-hero {
  height: 180px; /* less height */
  background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092')
    center/cover no-repeat;
  position: relative;
  border-radius: 12px;
  margin: 15px;
  overflow: hidden;
  opacity: 0.8;
}

/* Luxury Glass Overlay */
.menu-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
}

/* Centered Content */
.menu-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.menu-hero-content h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.menu-hero-content p {
  font-size: 20px;
  opacity: 0.9;
  letter-spacing: 0.5px;
}

.add-to-cart {
  width: 100%;
  margin-top: 12px;
  padding: 10px 0;
  background: #c59d5f;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-to-cart:hover {
  background: #b38a4c;
  transform: translateY(-2px);
}


.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.menu-btn {
  padding: 12px 28px;
  background: linear-gradient(135deg, #d4a017, #f8d477);
  border-radius: 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
}

.menu-btn:hover {
  background: linear-gradient(135deg, #b48710, #e6c163);
  transform: translateY(-3px);
}
